<!DOCTYPE html>
<html>
  <head>
    <title>Makali</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" href="http://www.drodd.com/images14/m41.jpg" sizes="32x32">
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <h1 id="header"><%= link_to "Makali", activities_path %></h1>
        </li>
        <% if @current_user %>
            <%= link_to "#{@current_user.username}", user_path(@current_user) %>
            <li class="sign">
              <%= link_to 'SIGN OUT', session_path, method: :delete %>
            </li>
        <% else %>
            <li class="sign">
              <%= link_to 'SIGN UP', new_user_path %>
            </li>
        <li class="sign">
          <%= link_to 'SIGN IN', new_session_path %>
        </li>
        <% end %>
      </ul>
    </nav>
    <br>
    <% flash.each do |type, message| %>
      <p class='<%= type %>'><%= message %></p>
    <% end %>
    <br>


    <%= yield %>
  </body>
</html>
