<%= form_for @activity do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

<%= f.submit %>
<% end %>

<p><%= link_to '(delete)', activity_path(@activity),
    method: :delete,
    data: {confirm: "Are you sure?"} %>
</p>
