<br>
<div class="activities">

<h2>Check out this list of things to do</h2>


<%= form_for [@user, @activity] do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>


<%= f.submit :submit %>
<% end %>


<br>
<% @activities.each do |activity| %>
  <div class="activelist">
    <%= link_to activity.title, activity_path(activity) %>
    <%= link_to '(edit)', edit_activity_path(activity) %>
  </div>
<% end %>
</div>
